<!DOCTYPE html>
<html>
<head>
  <title>Sc09forever</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
</body>
<% if controller_name=="home"%>
<script type="text/javascript">
	$("body").addClass("home");
</script>
<%end%>
</html>
